<!DOCTYPE html>
<html>
    <img> <!-- place image of GH coat of arms here. use bootstrap to position it to the upper left side of the sheet/page-->

    <h2> Dear {{ name }}, </h2>
    <p>
        You have a fine of {{ amount_fined }}, which was just incured for overspeeding along the {{ location }} road.
    
        <h3> The time of the offence is </h3>
        <h3> Your have is 1 offence so far to your name (in the past week, year or month).</h3>
    </p>

    <!-- found out a way to watermark the page or add a feint image of the coat of arm (but bigger) 
        to the background of the page -->

    <img> <!-- place image of digital signature. use bootstrap to position it to the bottom left side of the sheet/page
                after the main content of the page-->

</html>